# Java build output
target/
*.class
*.jar

# Logs
*.log

# Maven
.mvn/
!**/mvn/wrapper/**     # Keep wrapper files if you're using them
.settings/
dependency-reduced-pom.xml
release.properties
# Docker
.dockerignore

# Backup and temp files
*.bak
*.tmp
*.swp
*.swo


